<!DOCTYPE html>
<html>
<head>
    <title>Activite Professionnelle Detail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mvoloskov/potion/potion.min.css">
</head>
<body>
    <p>{{ activite.pole_id }}</p>
    <h1>{{ activite.code }} - {{ activite.definition }}</h1>
    <h3>Tâches associées :</h3>
    <ul>
        {% for tache in taches %}
            <li>{{ tache.code }} <i>(Autonomie : {{ tache.autonomie }})</i> - {{ tache.tache }}</li>
        {% endfor %}
    </ul>
    <h3>Moyens et ressources :</h3>
    <ul>
        {% for moyen_ressource in moyens_ressources %}
            <li>{{ moyen_ressource.moyen_ressource }}</li>
        {% endfor %}
    </ul>
    <h3>Résultats attendus :</h3>
    <ul>
        {% for resultat in resultats %}
            <li>{{ resultat.resultat }}</li>
        {% endfor %}
    </ul>
    <hr>
    <p><a href="javascript:history.back()">retour</a></p>
</body>
</html>
